/* - - - - - - - - - CENTRE BODY - - - - - - - - - */

.page-links a
{
    font-size: 1em;
    color: #491313;
    padding: 0.5%;
    font-weight:bold;
    text-decoration:none;
    display:block;
    margin-left:3%;
    font-family:ebrima-regular-font;
    border:none;  
}

    section a:hover 
    {
        text-decoration:underline;
    }

    section ul:last-child 
    {
        margin-bottom:6%;
    }